<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PurchaseEntities" connectionString="Data Source=DESKTOP-NPC8O49\\SOL; Initial Catalog=CommandFactory; Integrated Security=true; MultipleActiveResultSets=true" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>